@import url(reset.css);
@import url(theme.css);
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Grape+Nuts&family=Roboto+Slab:wght@600&display=swap');

body{
    background-color: var(--color-background);
    margin: 0 auto;
    letter-spacing: .1rem;
    line-height: 1.6;
    max-width: 100rem;
}

header{
    background-color: var(--color-primary);
    padding: 1.6rem 0;
    text-align: center;
}

h1{
    color: var(--color-font);
    font-family: "Anton", sans-serif;
    font-size: 2.4rem;
    font-weight: 400;
    letter-spacing: .2rem;
}

main{
    margin: 0 auto;
    background-color: var(--color-primary);
}

section h2{
    color: var(--color-font);
    font-family: "Anton", sans-serif;
    font-size: 2.4rem;
    margin: 0 0 0;
    padding: 1rem;
    text-decoration: underline;
}

section p{
    color: var(--color-font);
    font-family: "Anton", sans-serif;
    font-size: 2.4rem;
    margin: 0 0 0;
    padding: 1rem;
}

nav{
    font-family: "Anton", sans-serif;
    position: relative;
    display: flex;
    justify-content: left;
    margin-left: 1rem;
}

section ul h2{
    color: var(--color-font);
    font-family: "Anton", sans-serif;
    font-size: 2.4rem;
    margin: 0 0 0;
    padding: 1rem;
    text-decoration: underline;
}

section ul li p{
    color: var(--color-font);
    font-family: "Anton", sans-serif;
    font-size: 2.4rem;
    margin: 0 0 0;
    padding: 1rem;
}
/* grid 3 par ligne */
.shop {
    list-style-type: none;
    padding: 0;
}

.shop li {
    color: var(--color-font);
    font-family: "Anton", sans-serif;
    font-size: 2.4rem;
    margin: 0 0 0;
    padding: 1rem;
}

details {
    cursor: pointer;
}

figure {
    margin: 0;
}

.details-content {
    display: none;
}

details[open] .details-content {
    display: block;
}

button {
    border: 0;
    line-height: 7.5rem; /* Agrandi 3 fois */
    padding: 0 6rem; /* Agrandi 3 fois */
    font-size: 3rem; /* Agrandi 3 fois */
    text-align: center;
    color: var(--color-primary);
    text-shadow: 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.7);
    border-radius: 3rem; /* Agrandi 3 fois */
    background-color: var(--color-font);
    background-image: linear-gradient(
        to top left,
        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0.2) 30%,
        rgba(0, 0, 0, 0)
    );
    box-shadow:
        inset 0.6rem 0.6rem 0.9rem rgba(255, 255, 255, 0.6),
        inset -0.6rem -0.6rem 0.9rem rgba(0, 0, 0, 0.6);
}

button:hover {
    background-color: #2E8B19;
}

button:active {
    box-shadow:
        inset -0.6rem -0.6rem 0.9rem rgba(255, 255, 255, 0.6),
        inset 0.6rem 0.6rem 0.9rem rgba(0, 0, 0, 0.6);
}


form{
    margin: 5rem;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form label{
    color: var(--color-font);
    display: block;
    font-family: "Anton", sans-serif;
    font-size: 2.6rem;
}

form input{
    background-color: var(--color-primary);
    border: 0.2rem solid var(--color-font);
    color: var(--color-font);
    font-size: 2.5rem;
    margin: 1rem 2rem;
    padding: 0.5rem;
    font-family: "Anton", sans-serif;
    width: calc(100% - 4rem);
}

form select {
    background-color: var(--color-primary);
    border: 0.2rem solid var(--color-font);
    color: var(--color-font);
    font-size: 2.5rem;
    margin: 1rem 2rem;
    padding: 0.5rem;
    font-family: "Anton", sans-serif;
    width: calc(100% - 4rem);
}

form option {
    background-color: var(--color-primary);
    color: var(--color-font);
    font-size: 2.5rem;
    font-family: "Anton", sans-serif;
}

form input[type="checkbox"] {
    width: 2rem;
    height: 2rem;
    margin: 1rem;
    accent-color: var(--color-font);
}

footer{
    background-color: var(--color-primary);
    color: var(--color-font);
    padding: 1.6rem 0;
    text-align: center;
}